<!-- BANNER -->
<section class="banner">
  <div class="container pt-5">
    <h1>ALEGRE MARIA EMILIA</h1>
    <div class="bird-container bird-container--one">
      <div class="bird bird--one"></div>
    </div>
    <div class="bird-container bird-container--two">
      <div class="bird bird--two"></div>
    </div>
    <div class="bird-container bird-container--three">
      <div class="bird bird--three"></div>
    </div>
    <div class="bird-container bird-container--four">
      <div class="bird bird--four"></div>
    </div>
  </div>
</section>

<!--CONTENEDOR BANNER-->
<section class="card m-4 p-4">
  <div class="row">
    <div class="col-6 text-center">
      <img src="assets/IMG/perfil.jpeg" alt="foto de perfil" class="rounded-circle img-fluid" id="imagen_perfil">
    </div>
    <div class="col-6">
      <div class="titulo">
      <h1>Full Stack Developer Jr.</h1>
    </div>
  </div>
  </div>
</section>