<div class="row">
    <h1>Acerca De</h1>
        <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar Persona
        </button>
        
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src= {{persona?.img}} class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona?.nombre}} {{persona?.apellido}}</p>
        <h2>Full Stack Developer Jr</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>{{persona?.descripcion}}</p>
        </span>
    </div>