<!--ACERCA DE-->
<section class="text-center m-4">
  <h3 class="mt-3">Acerca de</h3>
  <div class="card-body text-danger">
    <p>
      Tengo 34 Años. Actualmente, resido en la Provincia de Cordoba.<br>
      Soy Experta de Gestion en Relaciones Laborales, varios años de experiencia en el sector administrativo.<br>
      Me considero una persona Autodidacta, la principal virtud que me llevo a adentrarme en la Programacion.<br>
      Estoy predispuesta a nuevos conocimientos y anhelo poder alcanzar los conocimientos necesarios para dedicarme
      a la Programacion FullStack.
    </p>
  </div>
</section>