<app-nav-bar></app-nav-bar>
<app-banner></app-banner>
<app-acercade></app-acercade>
<app-experiencia></app-experiencia>
<app-educacion></app-educacion>
<app-hard-soft-skills></app-hard-soft-skills>
<app-proyectos></app-proyectos>
<app-footer></app-footer>
<app-dashboard></app-dashboard>
<app-nav-bar></app-nav-bar>
<app-modalredes></app-modalredes>
<app-navvertical></app-navvertical>
<app-modalbanner></app-modalbanner>
<app-modalacecade></app-modalacecade>
<app-modalexperiencia></app-modalexperiencia>
<app-modaleducacion></app-modaleducacion>
<app-modalskills></app-modalskills>
<app-modalproyectos></app-modalproyectos>
<app-modalfooter></app-modalfooter>

<!--<span>{{ titulo}}</span>-->