<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>
    <br><br><br>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h2>{{Experiencia.nombreE}}</h2>
                    </td>
                    <td>
                        <h5>{{Experiencia.descripcionE}}</h5>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-success" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="fa-solid fa-pen-to-square"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>