<!--EXPERIENCIA-->
 <section class="experiencias">
        <div class="btn-edit">
            <a href="#" class="btn"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="#" class="btn"><i class="fa-solid fa-trash"></i></a>
        </div>
        <h3>Experiencias</h3>
    <div class="row">
        <div class="col-12 mt-4 pt-2" *ngFor="let experiencias of experiencias">
          <!--Entrada-->
          <div class="d-flex justify-content-between">
              <img [src]= "experiencias.logo" class="exp3 img-fluid align-self-start" alt="experiencia">
              <div class="mx-3 mt-4">
                <h4>{{experiencias.empresa}}</h4>
                <p>{{experiencias.puesto}}</p>
                <h5>Descripcion</h5>
                <h5>{{experiencias.descripcion}}</h5>
                </div>
              </div>
            </div>
          </div>
    </section>
