
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/IMG/perfil.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
      <p>Full Stack Developer Jr.</p>
    </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
  <span>
    <h1>Acerca de mí</h1>
      <p>
        Soy de la Provincia de Santa Fe. Actualmente, resido en la Provincia de Cordoba. Soy Experta en Gestion de Relaciones Laborales, con experiencia en el sector administrativo. Me considero una persona Autodidacta, la principal virtud que me llevo a adentrarme en la Programacion. Estoy predispuesta a nuevos conocimientos y anhelo poder alcanzar los conocimientos necesarios para dedicarme a la Programacion FullStack.
      </p>
  </span>
  </div>
  </div>