
.row {
  padding: 20px;
}

span {
  text-align: center;
}

#nombre {
  font-weight: bold;
  margin-top: 30%;
  text-align: center;
  margin-left: 18%;
}

#titulo {
  text-align: center;
  margin-left: 10%;
  margin-top: 20%;
}
#fotodeperfil {
  margin-top: -15%;
  text-align: center;
}

/*Foto de Perfil*/
@media (min-width: 576px) {
  #fotodeperfil {
    position: absolute;
    width: 17%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
    left: 5%;
    top: 580px;
  }
}
@media (max-width: 575px) {
  #fotodeperfil {
    position: absolute;
    width: 30%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
    left: 35%;
    top: 520px;
  }
  #nombre {
    margin-top: 35%;
    text-align: center;
    margin-left: 7%;
  }
  #titulo {
    margin-top: 5%;
    text-align: center;
    margin-left: 7%;
  }
  span {
    text-align: center;
  }
}