<!--PROYECTOS-->
<section class="card m-4 p-4">
    <div class="d-flex justify-content-between my-2">
        <h3>Proyectos</h3>
    </div>
    <div class="card-group text-center">
        <div class="card">
            <div class="card border-primary">
                <img src="/assets/IMG/codoacodo.png" class="card-img-top" alt="lacocinademama">
                <div class="card-body">
                    <h5 class="card-title">Proyecto 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas hic
                        velit,
                        repellendus, unde commodi, molestiae ex amet corrupti voluptates voluptatem ipsa vitae deleniti
                        cum facere
                        culpa quia at. Minima!</p>
                    <a href="http://..." target="_blank" class="btn btn-outline-warning btn-sm">¿Quieres Conocerme?</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card border-secondary">
                <img src="/assets/IMG/codoacodo.png" class="card-img-top" alt="apptask-list">
                <div class="card-body">
                    <h5 class="card-title">Proyecto 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas hic
                        velit,
                        repellendus, unde commodi, molestiae ex amet corrupti voluptates voluptatem ipsa vitae deleniti
                        cum facere
                        culpa quia at. Minima!</p>
                    <a href="http://..." target="_blank" class="btn btn-outline-info btn-sm">¿Quieres Conocerme?</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card border-danger">
                <img src="/assets/IMG/codoacodo.png" class="card-img-top" alt="otro">
                <div class="card-body">
                    <h5 class="card-title">Proyecto 3</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas hic
                        velit,
                        repellendus, unde commodi, molestiae ex amet corrupti voluptates voluptatem ipsa vitae deleniti
                        cum facere
                        culpa quia at. Minima!</p>
                    <a href="http://..." target="_blank" class="btn btn-outline-danger btn-sm">¿Quieres Conocerme?</a>
                </div>
            </div>
        </div>
    </div>
</section>