<!--FOOTER-->
<footer>
    <div class="row">
      <div class="col-lg-12">
        <div class="footer container-fluid rounded shadow bg-body-transparent">
          <a href="poner el cv aqui"><button type="submit" class="btn btn-close-dark"><i
                class="fa-solid fa-download"></i></button></a>
          <a href="#top"><button type="submit" class="btn btn-close-dark"><i
                class="fa-solid fa-arrow-turn-up"></i></button></a>
        </div>
      </div>
    </div>
    <div class="text-center fs-6 mt-4">
      <p>AME © - Alegre Maria Emilia -Portfolio - 2022. Córdoba, Argentina - ARGENTINA PROGRAMA</p>
    </div>