<section>
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
      <img src="../../../assets/IMG/APLogo.png" alt="LogoAP" class="w-25" a routerLink="/index">
    <!--Social-->
    <ul class="list-group list-group-horizontal d-flex justify-content">
      <li class="list-group-item"><a href="https://github.com/MariaEmiliaAlegre" target="_blank"><i
            class="fa-brands fa-square-github fa-3x text-white"></i></a></li>
      <li class="list-group-item"><a href= "https://www.linkedin.com/in/emiliaalegre/" target="_blank"><i
          class="fa-brands fa-linkedin fa-3x text-white"></i></a></li>
      <li class="list-group-item">
        <!--Boton que envia Login-->
        <a href="/login"><i class="fa-solid fa-user-lock fa-3x text-white"></i></a>
      </li>
    </ul>
  </div>
</nav>
</section>