/*INICIO SECCION NABVAR-HEADER*/
.navbar.navbar-expand-lg.bg-dark {
  height: 110px;
  justify-content: center;
  background: rgb(34, 193, 195);
  background: -moz-linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3", endColorstr="#fdbb2d", GradientType=1);
}

/*ICONOS*/
.list-group {
  --bs-list-group-bg: transparent;
  --bs-list-group-border-color: transparent;
}

.fa-brands.fa-linkedin.fa-3x.text-white:hover {
  --bs-text-opacity: 1;
  color: #1713ec !important;
}

.fa-brands.fa-square-github.fa-3x.text-white:hover {
  --bs-text-opacity: 1;
  color: #5b5a99 !important;
}

/*FIN SECCION NABVAR-HEADER*/