<app-nav-bar></app-nav-bar>
<!--FORMULARIO LOGIN-->
<section class="login">
  <div class="container text-center">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
            <div>
              <label for="email">Email: </label>
              <input type="email" formControlName="email" [class.border-danger]="MailInvalid">
            </div>
            <!-- Gracias al getter que configuramos en el controlador -->
            <div *ngIf="Mail?.errors  && Mail?.touched">
              <p *ngIf="Mail?.hasError('required')" class="error">
                El email es requerido.
              </p>
              <p *ngIf="Mail?.hasError('email')" class="error">
                El formato del email debe ser válido.
              </p>
            </div>

            <br />
            <div>
              <label for="exampleInputPassword1" class="form-label">Password: </label>
              <input type="password" formControlName="password" [class.border-danger]="PasswordInvalid">
            </div>
            <!-- Gracias al getter que configuramos en el controlador -->
            <div *ngIf="Password?.errors  && Password?.touched">
              <p *ngIf="Password?.hasError('required')" class="error">
                El password es requerido.
              </p>
            </div>
            <br />
            <div>
              <a href="/login"><button type="submit"> Inicio Sesión</button></a>
            </div>
            <br>
            <small>Si no tenés cuenta <a href="/registro">Registrate!</a></small>
          </form>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="btn">
          <a href="/dashboard"><i class="fa-solid fa-rectangle-xmark"></i></a>
        </button>
      </div>
    </div>
  </div>
</section>
<app-modalfooter></app-modalfooter>