.modal-fade {
    background: #000000;
    font-family: 'Roboto', sans-serif;
}

.modal-mail {
    margin-top: 75px;
    height: auto;
    background: #000000;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.modal-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-text-fill-color: transparent;
}

.modal-header {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #010101;
}


input[type=email] {
    background-color: #ffffff;
    border: none;
    border-bottom: 2px solid #de790d;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #070707;
}

input[type=password] {
    background-color: #ffffff;
    border: none;
    border-bottom: 2px solid #de790d;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #0c0c0c;
}

.form-group {
    margin-bottom: 30px;
    outline: 0px;
}


.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #fdfeff;
    color: #020202;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn.btn-secondary {
    border-color: #434e51;
    color: #f5f8f9;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(228, 20, 20, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn.btn-secondary:hover {
    background-color: #131211;
    right: 0px;
}

.login-btn {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #a4a3a2;
}
.container.text-center {
    margin-top: 10rem;
}
.error {
    color: #bb0606;
}
.border-danger {
    border-color: #bb0606;
}

