<p class="bl_page404">
    <h1>Error 404. Esta pagina no Existe</h1>
    <p class="text-black">Lo sentimos, la página que busca no se encuentra aquí.</p>
    <p class="text-black">El enlace que siguio puede estar roto o ya no existe. Vuelva a intentarlo o pulse Volver a...</p>
    <div class="bl_page404__wrapper">
      <img src="/assets/IMG/404.png" alt="">
      <div class="bl_page404__el1"></div>
      <div class="bl_page404__el2"></div>
      <div class="bl_page404__el3"></div>
      <a class="bl_page404__link" href="/index.html">Volver a</a>
    </div>

