<!--EDUCACIÓN-->
<section class="card p-4 m-4">
    <div class="justify-content" id="educación">
        <h3>Educación</h3>
    </div>
    <div class="row">
        <div class="col-6 pt-1">

            <!--Entrada-->
            <div class="d-flex justify-content-between mb-2">
                <div class="d-flex justify-content">
                    <img src="assets/IMG/argprog.jpg" alt="" style="width: 60px; height: auto"
                        class="align-self-start" />
                    <div class="mx-3">
                        <h4>Argentina Programa: #YoProgramo</h4>
                        <p class="my-0">Ministerio de Desarrollo Productivo</p>
                        <p class="text-secondary">Julio 2022 - Enero 2023</p>
                    </div>
                </div>
            </div>

            <!--Entrada-->
            <div class="d-flex justify-content-between mb-2">
                <div class="d-flex justify-content">
                    <img src="assets/IMG/codoacodo.png" alt="" style="width: 60px; height: auto"
                        class="align-self-start" />
                    <div class="mx-3">
                        <h4>...</h4>
                        <p class="my-0">CODO A CODO</p>
                        <p class="text-secondary">Noviembre 2022 - 20 Semanas</p>
                    </div>
                </div>
            </div>

            <!--Entrada-->
            <div class="d-flex justify-content-between mb-2">
                <div class="d-flex justify-content">
                    <img src="assets/IMG/codoacodo.png" alt="" style="width: 60px; height: auto"
                        class="align-self-start" />
                    <div class="mx-3">
                        <h4>Programacion Full Stack (Codo a Codo Inicial)</h4>
                        <p class="my-0">CODO A CODO</p>
                        <p class="text-secondary">Julio 2022 - 20 Semanas</p>
                    </div>
                </div>
            </div>

            <!--Entrada-->
            <div class="d-flex justify-content-between mb-2">
                <div class="d-flex justify-content">
                    <img src="assets/IMG/argprog.jpg" alt="" style="width: 60px; height: auto"
                        class="align-self-start" />
                    <div class="mx-3">
                        <h4>Argentina Programa: #SéProgramar</h4>
                        <p class="my-0">Ministerio de Desarrollo Productivo</p>
                        <p class="text-secondary">Octubre 2021 - Enero 2022</p>
                    </div>
                </div>
            </div>

            <!--Entrada-->
            <div class="d-flex justify-content-between mb-2">
                <div class="d-flex justify-content">
                    <img src="assets/IMG/utn.jpg" alt="" style="width: 60px; height: auto" class="align-self-start" />
                    <div class="mx-3">
                        <h4>Tecnica Superior en Relaciones Laborales</h4>
                        <p class="my-0">Universidad Tecnologica Nacional</p>
                        <p class="text-secondary">2010 - 2015</p>
                    </div>
                </div>
            </div>

            <!--Entrada-->
            <div class="d-flex justify-content-between mb-2">
                <div class="d-flex justify-content">
                    <img src="assets/IMG/universidadpopular.jpg" alt="" style="width: 60px; height: auto"
                        class="align-self-start" />
                    <div class="mx-3">
                        <h4>Ingles Basico e Ingles Intermedio</h4>
                        <p class="my-0">Universidad Popular (Resistencia/Chaco)</p>
                        <p class="text-secondary">Abril 2015 - Octubre 2017</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Titulos-->
        <div class="col-6 mt-5">
            <div class="text-center">
                <h3>Certificaciones</h3>
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="text-center mt-4">
                            <div class="carousel-item active" data-bs-interval="1000">
                                <img src="/assets/IMG/codoacodo.png" class="w-100" alt="...">
                            </div>..
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="/assets/IMG/argprog.jpg" class="w-75" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/assets/IMG/universidadpopular.jpg" class="w-50" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
