
  <!--NAVBAR-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html">
        <img src="assets/IMG/APLogo-20-20.png" alt="LogoAP" class="w-25">
      </a>
    </div>
    <!--SOCIAL-->
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><a href="https://www.linkedin.com/in/emiliaalegre/" target="_blank"><i
            class="fa-brands fa-linkedin-in fa-2x text-white"></i></a></li>
      <li class="list-group-item"><a href="https://github.com/MariaEmiliaAlegre" target="_blank"><i
            class="fa-brands fa-github-alt fa-2x text-white"></i></a></li>
      <li class="list-group-item">

        <!-- Button envia al Login -->
        <a href="/login.html"><i class="fa-solid fa-user-lock fa-2x text-white"></i></a>
      </li>
    </ul>
  </nav>
  
  
