
  <!--NAVBAR-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html">
        <img src="assets/IMG/APLogo-20-20.png" alt="LogoAP" class="w-25">
      </a>
    </div>
    <!--SOCIAL-->
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><a href="https://www.linkedin.com/in/emiliaalegre/" target="_blank"><i
            class="fa-brands fa-linkedin-in fa-2x text-white"></i></a></li>
      <li class="list-group-item"><a href="https://github.com/MariaEmiliaAlegre" target="_blank"><i
            class="fa-brands fa-github-alt fa-2x text-white"></i></a></li>
      <li class="list-group-item">

        <!-- Button envia al Login -->
        <a href="/login.html"><i class="fa-solid fa-user-lock fa-2x text-white"></i></a>
      </li>
    </ul>
  </nav>
  <!-- Modal Login -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Nunca compartiremos tu Información con nadie</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Ingresar</button>
        </div>
      </div>
    </div>
  </div>
  
