<!--HARD & SOFT SKILLS-->
<div class="row">
  <h2>Hard & Soft Skills</h2>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [imageSrc]= "'../assets/IMG/html.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [title]="'HTML'"
  [titleColor]="'red'"
  [titleFontSize]="'3em'"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="600"
  ></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="85"
[radius]="100"
[imageSrc]= "'../assets/IMG/css.png'"
[showImage]="true"
[imageHeight]="70"
[imageWidth]="70"
[title]="'HTML'"
[titleColor]="'red'"
[titleFontSize]="'3em'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="85"
[radius]="100"
[imageSrc]= "'../assets/IMG/git.png'"
[showImage]="true"
[imageHeight]="70"
[imageWidth]="70"
[title]="'HTML'"
[titleColor]="'red'"
[titleFontSize]="'3em'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="85"
[radius]="100"
[imageSrc]= "'../assets/IMG/angular.png'"
[showImage]="true"
[imageHeight]="70"
[imageWidth]="70"
[title]="'HTML'"
[titleColor]="'red'"
[titleFontSize]="'3em'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="85"
[radius]="100"
[imageSrc]= "'../assets/IMG/bootstrap.png'"
[showImage]="true"
[imageHeight]="70"
[imageWidth]="70"
[title]="'HTML'"
[titleColor]="'red'"
[titleFontSize]="'3em'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="85"
[radius]="100"
[imageSrc]= "'../assets/IMG/group.png'"
[showImage]="true"
[imageHeight]="70"
[imageWidth]="70"
[title]="'HTML'"
[titleColor]="'red'"
[titleFontSize]="'3em'"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C520'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
></circle-progress>
</div>
</div>


