<div class="row">
    <h2>Educación</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      
      <!--Entrada-->
      <ul>
        <li>
          <img src="../" class="img-fluid" id="edu1">
          <h1 id="Educación 1"></h1>
          <h3>Nombre Empresa</h3>
          <h5>(duracion)</h5>
          <p id="Descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere rerum consequatur odio fuga reiciendis, maiores aut perferendis iure? Quae exercitationem illum ipsum voluptatibus odio similique, suscipit atque nesciunt dicta tempora.</p>
        </li>
        <li>
          <img src="../" class="img-fluid" id="edu2">
          <h1 id="Educación 2"></h1>
          <h3>Nombre Empresa</h3>
          <h5>(duracion)</h5>
          <p id="Descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere rerum consequatur odio fuga reiciendis, maiores aut perferendis iure? Quae exercitationem illum ipsum voluptatibus odio similique, suscipit atque nesciunt dicta tempora.</p>
        </li>
        <li>
          <img src="../" class="img-fluid" id="edu3">
          <h1 id="Educación 3"></h1>
          <h3>Nombre Empresa</h3>
          <h5>(duracion)</h5>
          <p id="Descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere rerum consequatur odio fuga reiciendis, maiores aut perferendis iure? Quae exercitationem illum ipsum voluptatibus odio similique, suscipit atque nesciunt dicta tempora.</p>
        </li>
      </ul>
    </div>
  </div>
  