<!--EDUCACIÓN-->
<section class="p-4 m-4">
    <div class="educacion">
        <h3>Educación</h3>
        <div class="btn-edit1">
            <a href="#" class="btn"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="#" class="btn"><i class="fa-solid fa-trash"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-6">

            <!--Entrada-->
            <div class="d-flex justify-content" *ngFor="let educacion of educacion">
                <img [src]= "educacion.logo" class="edu3 img-fluid align-self-start" alt="educacion">
                    <div class="mx-3">
                        <h4>{{educacion.titulo}}</h4>
                        <p>{{educacion.descripcion}}</p>
                        <p class="text-secondary">{{educacion.inicio}} {{educacion.fin}}</p>
                    </div>
                </div>
            </div>

        <!--Titulos-->
        <div class="col-6 mt-5">
            <div class="certificaciones">
                <h3>Certificaciones</h3>
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="1000">
                                <img src="/assets/IMG/codoacodo.png" class="w-100" alt="...">
                            </div>..
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="/assets/IMG/argprog.jpg" class="w-75" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/assets/IMG/universidadpopular.jpg" class="w-50" alt="...">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>