<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-11"></div>
    <h1>Educacion</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            Nueva Educación
        </button>
        <br>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h2>{{Educacion.nombreE}}</h2>
                    </td>
                    <td>
                        <h5>{{Educacion.descripcionE}}</h5>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-success" routerLink="/editedu/{{Educacion.id}}">
                            <i class="fa-solid fa-pen-to-square"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Educacion.id)">
                            <i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>