<!--HARD & SOFT SKILLS-->
<section class="card m-4 p-4">
    <div class="d-flex justify-content-between my-2">
        <h3>Hard Skills & Soft Skills</h3>
    </div>
    <ul>
        <li>
            <h2>Frontend</h2>

            <!-- HTML5 -->
            <p style="width:80%" data-value="80">HTML5</p>
            <progress max="100" value="80" class="html5">
                <div class="progress-bar">
                    <span style="width: 80%">80%</span>
                </div>
            </progress>

            <!-- CSS -->
            <p style="width:60%" data-value="60">CSS</p>
            <progress max="100" value="60" class="css">
                <div class="progress-bar">
                    <span style="width: 60%">60%</span>
                </div>
            </progress>

            <!-- BOOTSTRAP -->
            <p style="width:50%" data-value="50">Bootstrap</p>
            <progress max="100" value="50" class="bootstrap">
                <div class="progress-bar">
                    <span style="width: 50%">50%</span>
                </div>
            </progress>

            <!-- JAVASCRIPT -->
            <p style="width:40%" data-value="40">JavaScript</p>
            <progress max="100" value="40" class="javascript">
                <div class="progress-bar">
                    <span style="width: 40%">40%</span>
                </div>
            </progress>

        </li>
        <li>
            <h2>Backend</h2>

            <!-- Python -->
            <p style="width:45%" data-value="45">Python</p>
            <progress max="100" value="45" class="python">
                <div class="progress-bar">
                    <span style="width: 45%">45%</span>
                </div>
            </progress>

            <!-- PHP -->
            <p style="width:65%" data-value="65">PHP</p>
            <progress max="100" value="65" class="php">
                <div class="progress-bar">
                    <span style="width: 65%">65%</span>
                </div>
            </progress>

            <!-- Node.js -->
            <p style="width:35%" data-value="35">Node.js</p>
            <progress max="100" value="35" class="node-js">
                <div class="progress-bar">
                    <span style="width: 35%">35%</span>
                </div>
            </progress>
        </li>
        <li>
            <h2>Otros</h2>

            <!-- Angular -->
            <p style="width:35%" data-value="35">Angular</p>
            <progress max="100" value="35" class="angular">
                <div class="progress-bar">
                    <span style="width: 35%">35%</span>
                </div>
            </progress>

            <!-- GitHub -->
            <p style="width:50%" data-value="50">GitHub</p>
            <progress max="100" value="50" class="github">
                <div class="progress-bar">
                    <span style="width: 50%">50%</span>
                </div>
            </progress>
        </li>
    </ul>
</section>