
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-11"></div>
      <h1>Proyectos</h1>
    </div>
    <br>
    <div class="card-group text-center">
      <div class="card">
        <div class="border-primary">
          <img src= "../assets/IMG/lacocinademama.jpg" class="w-50 img-fluid" id="proyec1">
          <div class="card-body">
            <h5 class="card-title">Proyecto 1</h5>
            <p class="card-text">descripcion</p>
            <a src="http://..." target="_blank" class="btn btn-outline-primary btn-sm">¿Entra a Verlo?</a>
          </div>
        </div>
      </div>
        <div class="card">
          <div class="border-primary">
            <img src= "../assets/IMG/lacocinademama.jpg" class="w-50 img-fluid" id="proyec2">
            <div class="card-body">
              <h5 class="card-title">Proyecto 2</h5>
              <p class="card-text">descripcion</p>
              <a src="http://..." target="_blank" class="btn btn-outline-warning btn-sm">¿Queres Conocerme?</a>
            </div>
          </div>
        </div>
          <div class="card">
            <div class="border-primary">
              <img src= "../assets/IMG/lacocinademama.jpg" class="w-50 img-fluid" id="proyec3">
              <div class="card-body">
                <h5 class="card-title">Proyecto 3</h5>
                <p class="card-text">descripcion</p>
                <a src="http://..." target="_blank" class="btn btn-outline-success btn-sm">¿No te lo Pierdas?</a>
              </div>
            </div>
          </div>
    </div>
  