<!--Inicio Redes Modal--> 
<div class="modal fade" id="redesModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">REDES</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="container text-center">
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-10">
            <form>
              <div class="my-3">
                <label for="educacion" class="form-label">Nombre de la Red</label>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" id="redes">
                <button class="btn btn-outline-warning" type="button">Actualizar</button>
                <button class="btn btn-outline-success" type="button">Guardar</button>
                <button class="btn btn-outline-danger" type="button">Eliminar</button>
              </div>
              <div class="my-3 mt-4">
                <label for="info" class="form-label">Logo</label>
              </div>
              <div class="input-group">
                <input type="file" class="form-control">
                <button class="btn btn-outline-warning" type="button">Actualizar</button>
                <button class="btn btn-outline-success" type="button">Guardar</button>
                <button class="btn btn-outline-danger" type="button">Eliminar</button>
              </div>
            </form>
          </div>
          <div class="col-1">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</div>
</div>
<!--Fin Redes Modal-->